# File Formats, Databases, and APIs

data input/output using Pandas.

## 1. File Formats

### CSV

In [2]:
import pandas as pd

df = pd.DataFrame({'id': [1, 2, 3], 'value': [10, 20, 30]})
df.to_csv('/mnt/data/data.csv', index=False)
pd.read_csv('/mnt/data/data.csv')

   id  value
0   1     10
1   2     20
2   3     30

### TSV

In [3]:
df.to_csv('/mnt/data/data.tsv', sep='\t', index=False)
pd.read_csv('/mnt/data/data.tsv', sep='\t')

   id  value
0   1     10
1   2     20
2   3     30

### Excel

In [4]:
df.to_excel('/mnt/data/data.xlsx', index=False)
pd.read_excel('/mnt/data/data.xlsx')

   id  value
0   1     10
1   2     20
2   3     30

### JSON

In [5]:
df.to_json('/mnt/data/data.json', orient='records')
pd.read_json('/mnt/data/data.json')

   id  value
0   1     10
1   2     20
2   3     30

### Parquet (optional dependency)

In [6]:
try:
    df.to_parquet('/mnt/data/data.parquet')
    pd.read_parquet('/mnt/data/data.parquet')
except Exception:
    None

### Feather (optional dependency)

In [7]:
try:
    df.to_feather('/mnt/data/data.feather')
    pd.read_feather('/mnt/data/data.feather')
except Exception:
    None

### Pickle

In [8]:
df.to_pickle('/mnt/data/data.pkl')
pd.read_pickle('/mnt/data/data.pkl')

   id  value
0   1     10
1   2     20
2   3     30

## 2. Databases & APIs

### SQL Databases

In [9]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:////mnt/data/example.db')

df.to_sql('sample_table', engine, index=False, if_exists='replace')
pd.read_sql('SELECT * FROM sample_table', engine)

   id  value
0   1     10
1   2     20
2   3     30

### Reading from APIs

In [10]:
import requests

url = 'https://jsonplaceholder.typicode.com/posts'
pd.DataFrame(requests.get(url, timeout=10).json())

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

### Writing Data Back

In [ ]:
df.to_csv('/mnt/data/final_output.csv', index=False)
df.to_sql('final_table', engine, index=False, if_exists='replace')