# Error Handling & Debugging

Understanding common Pandas errors, warnings, and patterns to debug data pipelines safely.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'city': ['Delhi', 'Mumbai', 'Delhi'],
    'sales': [100, 150, 120],
    'profit': [20, 35, 25]
})

df

     city  sales  profit
0   Delhi    100      20
1  Mumbai    150      35
2   Delhi    120      25

## Common Pandas errors

In [2]:
try:
    df['revenue']
except Exception as e:
    e

In [3]:
try:
    df.loc[5]
except Exception as e:
    e

## SettingWithCopyWarning

In [4]:
subset = df[df['sales'] > 100]
subset['profit'] = subset['profit'] * 1.1
subset

C:\Users\DELL\AppData\Local\Temp\ipykernel_1328\1765676400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['profit'] = subset['profit'] * 1.1

     city  sales  profit
1  Mumbai    150    38.5
2   Delhi    120    27.5

In [5]:
df.loc[df['sales'] > 100, 'profit'] = df.loc[df['sales'] > 100, 'profit'] * 1.1
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_1328\1154028242.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[38.5 27.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['sales'] > 100, 'profit'] = df.loc[df['sales'] > 100, 'profit'] * 1.1

     city  sales  profit
0   Delhi    100    20.0
1  Mumbai    150    38.5
2   Delhi    120    27.5

## Index alignment issues

In [6]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])
s1 + s2

a     NaN
b    12.0
c    23.0
d     NaN
dtype: float64

In [ ]:
s1.values + s2.values

## Debugging pipelines

In [7]:
df.assign(margin=df['profit'] / df['sales'])

     city  sales  profit    margin
0   Delhi    100    20.0  0.200000
1  Mumbai    150    38.5  0.256667
2   Delhi    120    27.5  0.229167

In [8]:
df.pipe(lambda x: x.assign(margin=x['profit'] / x['sales']))

     city  sales  profit    margin
0   Delhi    100    20.0  0.200000
1  Mumbai    150    38.5  0.256667
2   Delhi    120    27.5  0.229167

## Avoiding silent errors

In [9]:
assert df['sales'].notnull().all()

In [10]:
assert df['sales'].dtype != 'object'

In [11]:
pd.options.mode.chained_assignment = 'raise'